.contact-container {
    width: 100%;
    background-color: #fff;
    font-family: 'VT323', monospace; 
    padding: 3rem 1rem;
    text-align: center;
}
.contact-header {
    font-size: 3rem;
    color: black;
}

.social-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 2.5rem;
}

.social-btn {
    color: #333;
}

.social-btn:hover {
    color: black;
    transition: 0.5ms;
}