@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
.body {
    scroll-behavior: smooth;
    font-family: 'VT323', monospace;
}
.homepage {
    padding-top: 80vh;
    height: 100%;
}
 .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    z-index: 5;
    font-family: 'VT323', monospace;
    color: white;
}

