@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=VT323&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    cursor: unset;
}

.section-title{
    text-align: center;
    font-size: 3rem;
}

.sub-section-title {
    text-align: center;
    font-size: 1.5rem;
}

.nes-container.is-rounded.is-dark,
.nes-container.is-rounded,
.nes-balloon,
.nes-btn{
    border-image-repeat: unset;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 3.5rem;
    }
    .profile-container,
    .project-container,
    .contact-container {
        padding: 0 7% 2rem 7%;
    }
}

@media (min-width: 1280px) {
    .section-title {
        font-size: 3.5rem;
    }
    .profile-container,
    .project-container,
    .contact-container {
        padding: 0 15% 2rem 15%;
    }
}