.divider-soil {
    position: absolute;
    text-align: center;
    bottom: 0px;
    height: 32%;
    width: 100%;
    background-color: #1C050F;
}
.layerImg {
    background-size: 250% !important;
}
.logo {
    top: -5rem !important;
}
@media (min-width: 768px) {
    
}
@media (min-width: 1024px) {
    .layerImg {
        background-size: 100% !important;
    }
    .logo {
        background-size: 45vh !important;
    }  
}