main {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.page-body {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgb(243, 242, 239);
    padding-top: 8vh;
}

.page-container {
    min-height: 100vh;
    width: 80%;
}

.page-header {
    font-family: 'VT323', monospace;
    font-size: 3rem;
}