@media (max-width: 600px) {
    .layerImg {
        background-size: 200% !important;
    }  
}

@media (min-width: 768px) {
    .layerImg {
        background-size: 150% !important;
    }  
}

@media (min-width: 1024px) {
    .layerImg {
        background-size: 100% !important;
    }  
}