h1 {
    font-size: 3rem;
    color: #fff;
    margin: 1rem;
}

h2 {
    font-size: 2rem;
    color: gold;
    border-bottom: 3px solid gold;
    margin-bottom: 1rem;
}

ul {
    padding: 1rem;
}

li {
    display: flex;
    gap: 0.7rem;
    list-style: none;
    font-size: 1.7rem;
}

.nes-container.is-dark {
    background-color: #1C050F;
    position:static;
}

.nes-container.is-dark.with-title > .title {
    background-color: #1C050F;
}

.profile-container {
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    font-family: 'VT323', monospace;
    background-color: #1C050F;
}
.divider {
    height: 80vh;
}

.profile-img {
    min-height: 300px;
    background-image: url(../images/mine.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom;
}

#indo {
    height: 1.2rem;
    width: 2rem;
    background: linear-gradient(180deg, red 50%, white 50%);
    display: inline-block;
}

.skill-boxes {
    display: flex;
    font-size: 2.5rem;
    gap: 7px;
    justify-content: center;
}
