.profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-color: #1C050C;
    color: white;
    position: relative;
    top: calc(100vh - 1px);

}

/*  */