 .profile-description > h2,
 .skill > h2,
 .cv-lg > h2 {
    font-size: 2rem;
    color: gold;
    border-bottom: 3px solid gold;
    margin-bottom: 1rem;
}

ul {
    padding: 0 1rem;
}

li {
    display: flex;
    gap: 0.7rem;
    list-style: none;
    font-size: 1.7rem;
}

.divider {
    height: 90vh;
}

.profile-container {
    width: 100%;
    padding-bottom: 1rem;
    font-family: 'VT323', monospace;
    background-color: #1C050F;
}

.nes-container.is-dark {
    background-color: #1C050F;
    position:static;
}

.profile-container > .section-title {
    color: white;
}

.profile-img {
    min-height: 250px;
    background-image: url(../images/mine.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom;
}

#indo {
    height: 1.2rem;
    width: 2rem;
    background: linear-gradient(180deg, red 50%, white 50%);
    margin-top: 10px;
}

.about-md {
    display: none;
}

.about-md > p {
    font-size: 1.5rem;
}

.skill-boxes {
    display: flex;
    font-size: 2.5rem;
    gap: 7px;
    justify-content: center;
}

.cv-lg {
    display: none;
}

.cv-button {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

@media (min-width: 768px) {
    h2 {
        margin-bottom: 0;
    }

    ul {
        padding: 0;
    }

    li:last-child{
        display: none;
    }

    .profile-card {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0 !important;
    }

    .profile-img {
        width: 30%;
        min-height: 70px;
        background-size: 85%;
    }

    #indo {
        margin-top: 0.7rem;
    }

    .about-md {
        display: block;
        text-align: center;
    }

    .about-icons{
        display: flex;
        gap: 2rem;
        justify-content: center;
        color: azure;
        font-size: 3rem;
    }

    .skill-boxes {
        padding: 1rem;
        font-size: 3.5rem;
        gap: 1rem;
    }

    .skill, .cv-lg {
        text-align: center;
    }

    .cv-button,
    .cv-btn-md {
        font-size: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .profile-card {
        justify-content: center;
        gap: 3rem;
    }

    .profile-img {
        width: 30%;
        min-height: 70px;
        background-size: 55%;
    }

    .info-wrapper {
        display: flex;
    }

    .skill, .cv-lg {
        width: 50%;
    }

    .skill-boxes {
        font-size: 3rem;
    }
    .cv-lg {
        display: block;
        font-size: 2rem;
    }
    
    .cv-button {
        display: none;
    }
}

@media (min-width: 1280px) {
    .about-md > p {
        padding: 0 3rem;
    }
}