.nes-container.is-rounded {
    padding: 0.5rem;
}

.nes-badge {
    width: unset;
    height: unset;
}

.nes-badge span.is-dark:first-child {
    margin: unset;
    width: unset;
    position: static;
    box-shadow: 0 .2em #212529,0 -.2em #212529,.2em 0 #212529,-.2em 0 #212529;
}

.project-container {
    width: 100%;
    background-color: pink;
    font-family: 'VT323', monospace; 
    padding: 0.5rem;
    padding-top: 2.5rem;
}

.project-card {
    background-color: #1C050F;
}

.project-title {
    padding: 0;
    font-size: 1.7rem;
    text-align: center;
    background-color: #fff;
    margin-bottom: 0.5rem;
}

.project-carousel > img {
    width: 100%;
}

.dot-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.dot {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0px;
    border: none;
    margin: 5px;
}

.carousel__dot--selected{
    background-color: pink;
}

.project-slider {
    padding: 0;
}

.slide-wrapper  {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
}

.btn-slide {
    font-size: 3.5rem;
    color: gold;
    border: none;
    background-color: transparent;
}

.btn-slide:hover {
    color: white;
    
}

.btn-slide:focus,
.btn-slide-md:focus {
    outline: none;
}

.btn-slide-md {
    display: none;
}

.p-md {
    display: none;
}

.btn-visit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: black;
    width: 3rem;
    height: 3rem;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5ms;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-top: 10px;
    min-height: 20vh;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.tag-wrapper {
    display: flex;
}

.tag-wrapper-md {
    display: none;
}

.tag-item {
    font-family:'Segoe UI', sans-serif;
    font-size: 1rem;
    padding: 3px 5px;
    color: white;
    background-color: green;
    border-radius: 5px;
}

.more-projects {
    display: flex;
    justify-content: center;
    width: 40%;
    color: #fff;
    margin: 1rem auto;
}

.desc-md {
    display: none;
}

@media (min-width: 768px) {
    h3 {
        font-size: 3rem;
    }

    .project-container {
        padding: 0 7% 2rem 7%;
    }

    .project-container > h3 {
        font-size: 2rem;
    }

    .project-card {
        width: 50%;
    }

    .project-description {
        display: none;
    }

    .desc-md {
        height: 60%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .desc-md > h2 {
        font-size: 2rem;
    }

    .desc-md > p {
        width: 80%;
        font-size: 2rem;
        text-align: center;
        align-self: center;
        justify-self: flex-end;
    }

    .item-md {
        display: flex;
        gap: 1rem;
    }

    .wrapper-md {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 1rem;
    }
    
    .btn-slide {
        display: none;
    }

    .btn-slide-md {
        display: unset;
        position: absolute;
        font-size: 3rem;
        z-index: 99;
        top: 45%;
        background-color: transparent;
        border: none;
        color: #333;
        opacity: 0.5;
        margin: 0 5px;
    }

    .btn-slide-md:hover {
        opacity: .8;
    }

    .slide-right {
        right: 0px;
    }

    .p-md {
        display: unset;
        margin-top: 7px;
    }

    .btn-visit {
        width: 100%;
        gap: .5rem
    }

    .more-projects {
       font-size: 1.5rem;
       width: 100%;
    }

    .tag-wrapper-md {
        display: unset;
        font-size: 1.5rem;
        height: 30%;
    }
}