.project-container {
    background-color: pink;
    font-family: 'VT323', monospace;
    border: 1px solid rgb(54, 36, 211);  
    padding: 1rem;
    height: 100%;
}
.divider {
    height: 7vh;
    width: 100%;
}
.project-header {
    font-size: 3rem;
}
.carousel-wrapper {
    height: 60%;
}
.project-box {
    width: 100%;
    height: 100%;
    margin: 1rem;
    text-align: center;
    border: 2px solid green;
}

.slide-wrapper  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.btn-slide {
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3ms;
    background-color: transparent;
}
.left {
    border-right: 30px solid #00E692;
}
.right {
    border-left: 30px solid #00E692;
}
.btn-slide:hover {
    opacity: 1;
}
.btn-visit {
    width: 70%;
}